<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div>
            <span>名：</span>
            <span>
            <input type="text" v-model='firstName'>
            </span>
        </div>
        <div>
            <span>姓：</span>
            <span>
            <input type="text" v-model='lastName'>
            </span>
        </div>
        <div>{{fullName}}</div>
    </div>

    <script src="js/vue.js"></script>
    <script>
        // 需求：firstName或lastName变化时，fullName跟随变化
        // 方法(1)用侦听器。方法(2)用计算属性
        var vm = new Vue({
            el: '#app',
            data: {
                firstName: 'Jim',
                lastName: 'Green',
                // fullName: 'Jim Green'
            },
            computed: {
                fullName: function() {
                    return this.firstName + ' ' + this.lastName;
                }
            },
            watch: {
                // val表示firstName的最新值，只要firstName变化val跟着变化,
                // 侦听器watch就是监听数据的变化，val值变化时，就会触发侦听器里的函数，函数中可以处理一些异步任务
                // 方法名firstName必须和data中的属性名一致，这样才知道监听哪个属性
                // firstName: function(val) {
                //     this.fullName = val + " " + this.lastName;
                // },
                // lastName: function(val) {
                //     this.fullName = this.firstName + " " + val;
                // }
            }
        });
    </script>
</body>

</html>